* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.container {          /* Full screen height */
  display: flex;  
  flex-direction: column;
  justify-content:flex-start;
  max-width: 800px;
  background: #ffffff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

h3 {
  text-align: left;
  font-size: 18px;
}

h2 {
  background: #f3f4f6;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, button {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

input, select {
   background: #f3f4f6;
}

button {
  background: linear-gradient(135deg, #667eea, #764ba2);  color: white;
  color: white;
  font-weight: 500;
  transition: 0.3s;  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

table {
  width: 100%;
  margin-top: 20px;
  display: block;
  border-collapse: collapse;
  border-radius: 10px;
  overflow-x : auto;
  white-space: nowrap;
  table-layout: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
}

#categorySummary {
  margin-top: 20px;
  background: #f3f4f6;
  padding: 12px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  h1 { 
    font-size: 20px;
  }
  p { 
    font-size: 15px; 
  }
  table th,
  table td {
    font-size: 14px;
    padding: 6px;
  }
  input, button { 
    font-size: 12px; 
    padding: 8px; 
  }
}


.month {
   margin-top: 15px;
}

.in {
   color: green; font-weight: 600; 
  }
.out { 
  color: red; font-weight: 600; 
}

.form input,
.form button {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}

.type {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}





