* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.container {
  background: #ffffff;
  padding: 20px;
  margin-top: 100px;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  background: #f3f4f6;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, button {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

input, select {
   background: #f3f4f6;
}

button {
  background: linear-gradient(135deg, #667eea, #764ba2);  color: white;
  color: white;
  font-weight: 500;
  transition: 0.3s;  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
}

#categorySummary {
  margin-top: 20px;
  background: #f3f4f6;
  padding: 12px;
  border-radius: 10px;
}




